.bill-details{
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 998;

}
.bill-details .img >span:nth-child(2){
        width: auto;
}
.apply .img span>img{
    width: 170px;
    height: 100px;
}